@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>


        <title>JavaScript Collections</title>

       </head>


    <body>
  <h1>
      Customers
  </h1>

 <ol id="list">

 </ol>
 <script src="~/lib/dataCollections.js"></script>
</body>

</html>