@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <a asp-action="Print" class="btn btn-success" target="_blank" style="margin-top:20px">Print</a>

    <partial name="_PrintView" />
</div>

