@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    //Layout = "~/Views/Shared/_UserName.cshtml";
}
<!doctype html>
<html lang="en" class="h-100" id="memberOutView">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Gym Manager MemberOut</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sticky-footer-navbar/">



    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../Bootstrap/css/bootstrap.min.css"/>
    <!-- Favicons -->

    <meta name="theme-color" content="#7952b3">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
         
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        main > .container {
            padding: 60px 15px 0;
        }
    </style>


</head>
<body class="d-flex flex-column h-100">

    <header>
        <!-- Fixed navbar class="border border-secondary border-3 rounded-circle -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-secondary font-monospace" >
            <div class="container-fluid" >

               <img class="navbar-brand rounded-circle" src="../Bootstrap/Images/GymLogo.jpg"  width="40px" height="50px" />

                <a class="navbar-brand" href="#" >Gym Manager</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5" id="Title1">MemberOut</h1>
              <form>
                <div class="row">
                        <div class="col">
                        <h5 >Id: </h5>
                        </div>
                </div>
                <div class="row">
                    <div class="col col-md-3">
                        <input id="InputText" type="text" class="form-control" placeholder="Put your Id here"  >
                    </div>
                    <div class="col col-md-2">
                         <button type="button" id="SubmitButton" class="btn btn-primary">Submit</button>
                        
                    </div>

                </div>
            </form>

            <img src="../Bootstrap/Images/LogoFundacion.jpg" />

            <p class="lead">Pin a footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code class="small">padding-top: 60px;</code> on the <code class="small">main &gt; .container</code>.</p>
            <p>Back to <a href="/docs/5.1/examples/sticky-footer/">the default sticky footer</a> minus the navbar.</p>
            
        </div>
        
    </main>

    <!--Modal-->
    <div class="modal" tabindex="-1" id="exampleModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" >
            <p id="MessageModalContent"> Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>

    <script src=~/lib/EventsModal2.js> </script>
    <script src="../Bootstrap/js/bootstrap.bundle.js"></script>

</body>
</html>
