@model GymManager.Web.Models.UserViewModel

@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section Head{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <link href="~/lib/jqueryui/jquery-ui.min.css" rel="stylesheet" />

    <link href="~/lib/jqueryui/jquery-ui.structure.min.css" rel="stylesheet" />

    <link href="~/lib/jqueryui/jquery-ui.theme.min.css" rel="stylesheet" />
}

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Views/Users/Create.js"></script>

    <style>
        .error {
            color: #dc3545 !important;
        }
    </style>

}

<div class="container">
    <h3 class="mt-5">Update user</h3>

    <form asp-action="Edit">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="Id"/>
        <div class="mb-3">
            <label asp-for="Username" class="form-label">Email</label>
            <input type="text" class="form-control" asp-for="Username" readonly>
        </div>

        <div class="mb-3">
            <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
            <input type="tel" class="form-control" asp-for="PhoneNumber">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Password" class="form-label">Password</label>
            <input type="password" class="form-control" asp-for="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label for="confirm-password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirm-password"
                   data-val="true"
                   data-val-required="Confirm Password field is required." maxlength="100"
                   data-val-confirmpassword="Password missmatch.">
        </div>


        <button type="submit" class="btn btn-primary mb-3">Submit</button>
    </form>

</div>