@model List<GymManager.Core.Members.Member>

@{
    Layout = "../Shared/_UserName.cshtml";
    Layout = "../Shared/_Layout.cshtml";
}
@section HeaderRight{
        @await Html.PartialAsync("~/Views/Shared/_UserName.cshtml")
    }
    
    <div class="container">
        <h1>Welcome to GymManager</h1>

        @await Html.PartialAsync("~/Views/Shared/_MemberList.cshtml")
    </div>